html, body{
    position: f;
    min-height: 100%;
    min-width: 1080px;
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: white;
    background-color: rgb(192, 179, 151);
}

button{
    background-color: rgb(255, 255, 255);
    height: 80%;
}

button:hover{
    transition: background-color 0.5s ease;
    transition: box-shadow 0.2s ease;
    background-color: rgb(255, 220, 107);
    box-shadow: 1px 1px 1px 1px rgb(255, 255, 255);
}

#navbar{
    /* display: inline-block; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(99, 1, 1);
    height: 40px;
    width: 100%;
    padding-bottom: 5px;
    text-align: center;
}

#navbar img{
    float: left;
    height: 60%;
    margin-top: 5px;
    margin-left: 15px;
}

#navbar ul{
    display: inline;
   
}

#navbar li{
    padding: 0px 10px 0px 10px;
    display: inline;
}

#name{
    font-family: 'Gayathri';
}
#sub{
    display: inline-block;
}

#container{
    height: 100%;
    width: 100%;
}

.screen{ 
    height: 600px;
    width: 800px;
    border: .3em solid rgb(0, 0, 0);
    margin: 0 auto;
    padding: 0;
    font-size: 10px;
}

.screen > div{
    height: auto;
    width: auto;
    background-color: #eee;
}

.screen > div:nth-child(odd){
    background-color: #ddd;
}

#random{
    background: rgba(255,175,89,1);
background: -moz-linear-gradient(left, rgba(255,175,89,1) 0%, rgba(255,240,254,1) 21%, rgba(255,181,214,1) 46%, rgba(181,244,255,1) 65%, rgba(178,255,195,1) 82%, rgba(255,76,142,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,175,89,1)), color-stop(21%, rgba(255,240,254,1)), color-stop(46%, rgba(255,181,214,1)), color-stop(65%, rgba(181,244,255,1)), color-stop(82%, rgba(178,255,195,1)), color-stop(100%, rgba(255,76,142,1)));
background: -webkit-linear-gradient(left, rgba(255,175,89,1) 0%, rgba(255,240,254,1) 21%, rgba(255,181,214,1) 46%, rgba(181,244,255,1) 65%, rgba(178,255,195,1) 82%, rgba(255,76,142,1) 100%);
background: -o-linear-gradient(left, rgba(255,175,89,1) 0%, rgba(255,240,254,1) 21%, rgba(255,181,214,1) 46%, rgba(181,244,255,1) 65%, rgba(178,255,195,1) 82%, rgba(255,76,142,1) 100%);
background: -ms-linear-gradient(left, rgba(255,175,89,1) 0%, rgba(255,240,254,1) 21%, rgba(255,181,214,1) 46%, rgba(181,244,255,1) 65%, rgba(178,255,195,1) 82%, rgba(255,76,142,1) 100%);
background: linear-gradient(to right, rgba(255,175,89,1) 0%, rgba(255,240,254,1) 21%, rgba(255,181,214,1) 46%, rgba(181,244,255,1) 65%, rgba(178,255,195,1) 82%, rgba(255,76,142,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf59', endColorstr='#ff4c8e', GradientType=1 );
}

.footer{
    background-color: rgb(99, 1, 1);
    text-align: center;
    position: relative;
    height: 10px;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;

}